* {
    margin: 0;
}

.App {
    height: 100vh;
    background-image: url("./assest/office.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slide {
    display: flex;
    height: 100%;
}

.sara {
    height: 500px;
    align-self: flex-end;
}

.speechBox {
    margin-top: 15%;
    padding: 20px;
    width: 350px;
    height: 190px;
}

.speechBoxSB {
    margin-top: 15%;
    padding: 20px;
    width: 400px;
    height: 190px;
}

.sp-box {
    width: 350px;
    opacity: .8;
    position: absolute;
}

.sb-box {
    width: 400px;
    opacity: .8;
    position: absolute;
}

.sp-box-details {
    width: 385px;
    opacity: .8;
    position: absolute;
}

.option {
    margin: 0 5px;
    cursor: pointer;
}

.label {
    font-weight: 600;
    cursor: pointer;
}

.speechText {
    position: absolute;
    width: 300px;
    height: auto;
    padding: 30px 15px;
    transform: translate(5%, 5%);
    animation: showText 1s ease-in-out;
    transition: all .4s ease;
}

.speechTextSB {
    position: absolute;
    width: 350px;
    height: auto;
    padding: 15px;
    transform: translate(5%, 5%);
    animation: showText 1s ease-in-out;
    transition: all .4s ease;
}

.speechTextwithInfo {
    position: absolute;
    width: 300px;
    height: auto;
    padding: 12px;
    transform: translate(5%, 5%);
    animation: showText 1s ease-in-out;
    transition: all .4s ease;
}

.situation {
    margin-bottom: 15px;
    font-weight: bold;
}

.option-container {
    margin: 5px 0;
    letter-spacing: 1px;
    transition: all .4s ease;
}

.link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.option-container:hover, .link:hover {
    color: indigo;
    font-weight: bold;
}

.Reset {
    height: 80px;
    position: absolute;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.Reset:hover {
    animation: clicked 1s ease-in-out;
}

.Reset:active {
    bottom: 22px;
}

@keyframes clicked {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes showText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 680px) {
    body {
        font-size: 13px;
    }

    .slide {
        flex-direction: column-reverse;
    }

    .sara {
        height: 450px;
        align-self: center;
    }

    .speechBox {
        margin-top: 0;
    }

    .sp-box-details {
        width: 350px;
    }

    .Reset {
        height: 65px;
    }
}

@media only screen and (max-width: 420px) {
    .speechBox {
        padding: 10px;
    }
}
