* {
    margin: 0;
}

.App {
    height: 100vh;
    background-image: url("./assest/office.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slide {
    display: flex;
    height: 100%;
}

.sara {
    height: 500px;
    align-self: flex-end;
}

.speechBox {
    margin-top: 15%;
    padding: 20px;
    width: 350px;
    height: 190px;
}

.sp-box {
    width: 350px;
    opacity: .8;
    position: absolute;
}

.option {
    margin: 0 5px;
    cursor: pointer;
}

.label {
    font-weight: 600;
    cursor: pointer;
}

.speechText {
    position: absolute;
    width: 300px;
    height: auto;
    padding: 30px 15px;
    transform: translate(5%, 5%);
    animation: showText 1s ease-in-out;
    transition: all .4s ease;
}

.situation {
    margin-bottom: 15px;
}

.option-container {
    margin: 5px 0;
    letter-spacing: 1px;
    transition: all .4s ease;
}

.option-container:hover {
    color: indigo;
    font-weight: bold;
}

@keyframes showText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
